*,
*:after,
*:before
    box-sizing: border-box

body
    font-family: sans-serif

.container
    max-width: 1160px
    margin: auto
.section
    padding-top: 70px
    margin-top: 170px
    &-titles
        display: flex
        &__first
            padding-right: 8px
            border-right: solid 1px #1CB519
        &__second
            padding-left: 8px