@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.light-color {
  background-color: #F6F6F6;
  padding-bottom: 65px;
}

.red {
  color: red;
  font-weight: bold;
}

.section {
  padding-top: 70px;
  margin-top: 170px;
}

.section-titles {
  display: flex;
}

.section-titles__first {
  padding-right: 8px;
  border-right: solid 1px #1CB519;
}

.section-titles__second {
  padding-left: 8px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  animation-delay: 1s;
}

.animated.delay-2s {
  animation-delay: 2s;
}

.animated.delay-3s {
  animation-delay: 3s;
}

.animated.delay-4s {
  animation-delay: 4s;
}

.animated.delay-5s {
  animation-delay: 5s;
}

.animated.fast {
  animation-duration: 800ms;
}

.animated.faster {
  animation-duration: 500ms;
}

.animated.slow {
  animation-duration: 2s;
}

.animated.slower {
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.header-inner {
  font-size: 18px;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.header__link {
  margin-right: 30px;
  position: relative;
  text-decoration: none;
  color: #000000;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s linear;
}

.header__link:hover::after {
  width: 100%;
}

.hero-section {
  margin-top: 80px;
}

.hero-inner {
  display: flex;
  align-items: center;
}

.hero-container {
  width: 1160px;
  margin: auto;
}

.hero-text {
  position: relative;
}

.hero-text__title {
  font-size: 50px;
  line-height: 65px;
  max-width: 600px;
  margin-bottom: 15px;
}

.hero-text__subtitle {
  display: block;
  margin-bottom: 50px;
  font-size: 20px;
}

.hero-text-buttons {
  display: flex;
}

.hero-text__call {
  padding: 13px 57px 13px 57px;
  height: 55px;
  background-color: #1CB519;
  outline: none;
  border: none;
  border-radius: 7px;
  color: white;
  margin-right: 40px;
  font-size: 20px;
}

.hero-text__download {
  display: flex;
  border-radius: 7px;
  padding-left: 44px;
  height: 55px;
  align-items: center;
  font-size: 20px;
  background-color: white;
  text-decoration: none;
  color: #000000;
  border: 2px solid #1CB519;
}

.hero-text-button__img {
  margin-left: 9px;
  margin-right: 14px;
}

.hero-text::after {
  content: url(src/img/hero/hero-img.png);
  width: 100px;
  height: 100px;
  background-color: #1CB519;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 110%;
}

.advantage-flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  margin-top: 120px;
  justify-content: space-between;
}

.advantage-flexbox-card {
  margin-right: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-flexbox-card:nth-child(3n) {
  margin-right: 0;
}

.advantage-flexbox-card:nth-child(n+3) {
  margin-bottom: 0;
}

.advantage-flexbox-card__title {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
}

.sales-section {
  background-color: #F6F6F6;
  padding-bottom: 70px;
}

.sales-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.sales-cards-card {
  display: flex;
  background-color: white;
  width: 560px;
  height: 300px;
  align-items: center;
  margin-bottom: 40px;
}

.sales-cards-card__text {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.sales-cards-card_length {
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
}

.sales-cards-card__blades {
  display: block;
  font-size: 10px;
}

.sales-cards-card-prices {
  display: flex;
  align-items: center;
}

.sales-cards-card__old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #686868;
  margin-right: 40px;
}

.sales-cards-card__price {
  color: red;
  font-size: 25px;
}

.sales-cards-card__button {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #1CB519;
  border-radius: 7px;
  vertical-align: center;
  padding: 10px 31px 12px 31px;
  height: 40px;
  width: 140px;
}

.sales__learn-more-button {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.sales__learn-more-button a {
  color: #000000;
  height: 55px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 59px 17px 59px;
  font-size: 20px;
  border: 1px solid #1CB519;
  border-radius: 7px;
}

.mechanism-section {
  background-color: #011F01;
}

.mechanism-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mechanism-list {
  display: flex;
  color: white;
}

.mechanism-list__title {
  font-size: 35px;
  margin-bottom: 20px;
}

.mechanism-list__subtitle {
  font-size: 35px;
  color: red;
  margin: 0;
}

.mechanism-list-list {
  list-style-image: url(src/img/mechanism/rectangle.png);
  display: block;
  padding-left: 21px;
  margin-top: 30px;
  font-size: 16px;
}

.mechanism-list-list::after {
  content: url(src/img/mechanism/drilling.png);
  display: inline-block;
  position: absolute;
  top: 17%;
  left: 35%;
}

.mechanism-list-list__item {
  margin-bottom: 20px;
}

.mechanism-list-list__item:last-child {
  margin-bottom: 0;
}

.mechanism-form {
  background-color: white;
  display: flex;
  height: 360px;
  flex-direction: column;
  margin-top: 85px;
  margin-bottom: 85px;
  text-align: center;
  align-items: center;
  border-radius: 7px;
  padding: 34px 30px 32px 34px;
}

.mechanism-form__title {
  font-size: 30px;
  margin: 0;
}

.mechanism-form__subtitle {
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  margin-top: 7px;
  margin-bottom: 30px;
}

.mechanism-form__name, .mechanism-form__tel {
  width: 240px;
  height: 50px;
  border-radius: 7px;
  border: 2px solid #1CB519;
  outline-color: #1CB519;
  outline: none;
  padding-left: 9px;
}

.mechanism-form__name {
  margin-bottom: 10px;
}

.mechanism-form__tel {
  margin-bottom: 20px;
}

.mechanism-form__button {
  width: 240px;
  height: 50px;
  background-color: #1CB519;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  box-shadow: none;
  border-color: transparent;
  outline-color: #1CB519;
}

.procedure-section {
  padding-top: 70px;
  margin-top: 0;
  margin-bottom: 0;
}

.circle {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  position: relative;
}

.circle::after {
  content: '';
  height: 1px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  top: 75px;
  left: 100%;
}

.circle:last-child::after {
  display: none;
}

.circle__title {
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.about-section {
  margin-top: 0;
}

.about__title {
  margin-top: 100px;
  font-size: 40px;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #1CB519;
}

.about__title::before {
  content: '';
  width: 99%;
  bottom: 8px;
  left: 0;
  height: 4px;
  background-color: #1CB519;
  position: absolute;
  z-index: -1;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-content-text {
  max-width: 530px;
}

.about-content-text__title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.about-content-text__p {
  margin-top: 12px;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 15px;
  text-align: left;
}

.about-content-text__p:last-child {
  margin-bottom: 0;
}

.footer-inner {
  position: relative;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-size: 50px;
  line-height: 50px;
  max-width: 450px;
  position: relative;
  text-decoration: underline;
  text-decoration-color: #1CB519;
}

.footer-office-hours {
  max-width: 320px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
}

.footer-form-description {
  font-size: 18px;
  max-width: 420px;
  line-height: 23px;
}

.footer-form__name, .footer-form__tel {
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  width: 360px;
  outline: none;
  border: none;
  border-bottom: 1px solid #1CB519;
  margin-bottom: 40px;
}

.footer-form__name {
  margin-top: 30px;
}

.footer-form__button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #1CB519;
  color: #fff;
  position: relative;
  border-color: transparent;
}

.footer-form__button::after {
  content: 'Нажимая на кнопку вы соглашаетесь с Политикой конфидециальности';
  width: 120px;
  height: 30px;
  position: absolute;
  left: 110%;
  top: 13px;
  font-size: 10px;
  color: #C5C5C5;
}

.footer-map {
  position: relative;
  margin-top: 125px;
}

.footer-map__email, .footer-map__tel, .footer-map__map {
  position: absolute;
  left: 40px;
  color: white;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.footer-map__email {
  top: 12px;
}

.footer-map__email::before {
  content: url(src/img/footer/email.svg);
  position: absolute;
  left: -25px;
  top: 1px;
}

.footer-map__tel {
  top: 45px;
}

.footer-map__tel::before {
  content: url(src/img/footer/tel.svg);
  position: absolute;
  left: -25px;
  top: 1px;
}

.footer-map__map {
  top: 74px;
  width: 170px;
}

.footer-map__map::before {
  content: url(src/img/footer/map.svg);
  position: absolute;
  left: -25px;
  top: 3px;
}

.footer-map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 135px;
  background-color: #1CB519;
}
